


.nav-one {
    height: 30px;
    background-color: rgb(33, 33, 67);
  }
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
  .web-icon {
    width: 60px;
  }
  @media (max-width: 992px) {
    .none {
      display: none;
    }
  }
  .bi-telephone-fill {
    position: relative;
    top: 18px;
  }
  .number {
    position: relative;
    bottom: 5px;
    left: 35px;
    font-size: 15px;
  }
  .email {
    position: relative;
    left: 55px;
    top: 5px;
    font-size: 14px;
  }
  .date {
    position: relative;
    left: 70px;
    top: 6px;
    font-size: 14px;
  }
  
  .icons {
    position: relative;
    left: 600px;
    font-size: large;
  }
  .image-webpage-2 {
    width: 100%;
    margin: 0;
    padding: 0;
    transform: scalex(1.148);
  }
  .parent {
    position: relative;
    bottom: 300px;
    left: 80px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown .button {
    padding: 9px 16px;
    font-size: 16px;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
  }
  .dropdown .content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: -1;
    opacity: 0;
    border-radius: 8px;
    transition: 0.3s;
  }
  
  .dropdown .content a {
    display: block;
    color: #212121;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
  }
  
  .dropdown .contentt a:hover {
    background: #e3e3e3;
  }
  
  .dropdown:hover .content {
    opacity: 1;
    z-index: 1;
  }
  
  .parent-box2 {
    box-sizing: border-box;
  }
  
  .parent-box img {
    max-width: 570px;
    max-height: 800px;
    border-bottom-right-radius: 16px;
  }
  
  .child-box {
    width: 120px;
    min-height: 120px;
    outline: 15px solid white;
    border-radius: 16px;
    position: relative;
    bottom: 450px;
    left: 5px;
  }
  .parent-box {
    width: 600px;
    height: 600px;
    box-sizing: border-box;
  }
  
  @media (max-width: 540px) {
    .parent p {
  
      visibility: hidden;
    }
  }
  
  /* fact start  */
  .second-half{
    /* background-color: #696E77; */
    /* background: #6c757d; */
    background-color: rgba(213, 222, 230, 1);
}
.font-change{ 
    /* this property is for button */
    font-size: medium;
}
.font-change:hover{
    background-color: rgba(0, 90, 255, 1);
    border: 0px solid rgba(0, 90, 255, 1);
    transition: background-color 0.3s ease-in-out;
}
.weight-numbers{
    font-weight: 750;
    font-size: calc(1.425rem + 2.1vw);
    
    
}
.para-font{
        font-size: x-large;
        
}
@media (max-width: 992px){
    .komak{
        margin: 0 5rem;
    }
}
/* facts end Armita */

/* team  start */
.heading-team{
  max-width: 500px;
  
  
}
.card {

  position: relative;
  overflow: hidden;
  border: white solid 0px;
  /* box-shadow: 0 0 12px rgb(65, 64, 64) */
  box-shadow: -20px 0px 20px rgba(0, 0, 0, 0.1), 20px 0px 20px rgba(0, 0, 0, 0.1);

}
.card:hover .icons-form {

  bottom: 0;

}
.icons-form a{
  text-decoration: none;
}

.card-content img {

  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;

}
.card:hover .card-content img {

  height: 80%;
  transform: scale(1.1);

}
.card-content h5 {

  margin-top: 20px;
  font-size: 24px;

}
.card-content p {

  margin-top: 10px;
  font-size: 16px;
}
.icons-form {

  position: absolute;
  bottom: -10rem;
  left: -50px;
  width: 100%;
  height: 60px;
  box-sizing: content-box;
  padding: 3rem;
  /* background-color: rgba(0, 0, 0, 0.5); */

  background-color: white;
  transition: all 0.3s ease-in-out;

}
.solo{
  background-color: #E8E8EDFF;
  border: 0px solid white;
}
.all-icons{
  position: absolute;
  top:100px;
}

.p-in-icon{
  position: absolute;
  top: -20px;
}
.card:hover .p-out-icon{
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}


.icons-form i {

  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 24px;
  line-height: 50px;

}
.btn-secondary:hover{

  background-color: #015FC9 !important;
  color: white !important;
  transition: all 0.3s ease-in-out;
  
}
.image-gingil{
  width: 500px;
  height: 500px;
  /* background-size: cover; */
}

/* team end Armita */

  /* *{
    outline: red solid 2px ;
  } */

  .over p:hover {
    transition: all .25s;
    transform: scale(1.1);
    transform-origin: left;
}

.text-info:hover {
    color: grey !important;
  }

  /*Ava*/