.nav-one {
  height: 30px;
  background-color: rgb(33, 33, 67);
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
.web-icon {
  width: 60px;
}
.bi-telephone-fill {
  position: relative;
  top: 18px;
}
.number {
  position: relative;
  bottom: 5px;
  left: 35px;
  font-size: 15px;
}
.email {
  position: relative;
  left: 55px;
  top: 5px;
  font-size: 14px;
}
.date {
  position: relative;
  left: 70px;
  top: 6px;
  font-size: 14px;
}


.icons {
  position: absolute;
  right: 20px;
  
  font-size: large;
}
.image-webpage-2 {
  max-width: 100%;
  margin: 0;
  padding: 0;
  transform: scalex(1.148);
}
.parent {
  position: relative;
  bottom: 320px;
  left: 80px;
  width: 500px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .button {
  padding: 9px 16px;
  font-size: 16px;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}
.dropdown .content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: -1;
  opacity: 0;
  border-radius: 8px;
  transition: 0.3s;
}

.dropdown .content a {
  display: block;
  color: #212121;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.dropdown .contentt a:hover {
  background: #e3e3e3;
}

.dropdown:hover .content {
  opacity: 1;
  z-index: 1;
}

.parent-box2 {
  box-sizing: border-box;
}
.child-box {
width: 120px;
height: 120px;
outline: 15px solid white;
border-radius: 16px;
position: absolute;
top: 610px;
left: 0;
}
.parent-box {
width: 600px;
height: 600px;
box-sizing: border-box;
}
@media (max-width: 540px) {
  .parent p {
    visibility: hidden;
  }
}
@media (max-width: 992px) {
  .none {
    display: none;
  }
  .parent {
    visibility: hidden;
  }
  .parent-box2 {
    flex-wrap: wrap;
  }
  .para-after-image {
    max-width: 600px;
  }
}

/* faran */

.mloca{
    min-height: 450px
}

.over p:hover {
  transition: all .25s;
  transform: scale(1.1);
  transform-origin: left;
}

.text-info:hover {
  color: grey !important;
}

/*Ava*/